<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476653837304-kkcn9deb6a53382nf382m1o7l670cvkh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476653837304-kkcn9deb6a53382nf382m1o7l670cvkh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476653837304-dpvubod8503hb1suih7mlo7cdfm8ub9c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVFC8tJwom9GLEaT-1NvuaUmTovj9eW6E</string>
	<key>GCM_SENDER_ID</key>
	<string>476653837304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.micittest</string>
	<key>PROJECT_ID</key>
	<string>micit-task</string>
	<key>STORAGE_BUCKET</key>
	<string>micit-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476653837304:ios:1210c4b00e9575d563d40d</string>
</dict>
</plist>